<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,662},{59,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,33}}</string>
                <key>sourceSize</key>
                <string>{59,33}</string>
            </dict>
            <key>battle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,244},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>battle_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1247},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>battle_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,812},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>battle_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,402},{154,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>battle_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{214,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,181}}</string>
                <key>sourceSize</key>
                <string>{214,181}</string>
            </dict>
            <key>battle_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{134,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,176}}</string>
                <key>sourceSize</key>
                <string>{134,176}</string>
            </dict>
            <key>battle_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,105},{171,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,137}}</string>
                <key>sourceSize</key>
                <string>{171,137}</string>
            </dict>
            <key>battle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>battle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,38}}</string>
                <key>sourceSize</key>
                <string>{446,38}</string>
            </dict>
            <key>battle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,723},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>battle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,825},{7,12}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{7,12}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>battle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,825},{9,16}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{9,16}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>battle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,814},{9,18}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{9,18}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>battle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,244},{9,20}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>battle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,794},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>battle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,814},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>battle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,899},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,545},{115,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,26}}</string>
                <key>sourceSize</key>
                <string>{115,26}</string>
            </dict>
            <key>battle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1149},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>battle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,384},{74,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>battle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,271},{74,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>battle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1238},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>battle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1341},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>battle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1056},{116,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,39}}</string>
                <key>sourceSize</key>
                <string>{116,39}</string>
            </dict>
            <key>battle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,732},{140,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,55}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
            <key>battle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,874},{55,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,139}}</string>
                <key>sourceSize</key>
                <string>{55,139}</string>
            </dict>
            <key>battle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,590},{55,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,140}}</string>
                <key>sourceSize</key>
                <string>{55,140}</string>
            </dict>
            <key>battle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,813},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1061},{76,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,114}}</string>
                <key>sourceSize</key>
                <string>{76,114}</string>
            </dict>
            <key>battle_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,985},{74,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{74,108}</string>
            </dict>
            <key>battle_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,843},{48,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{48,69}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1239},{48,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1189},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,77}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,442},{52,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{52,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1197},{48,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1139},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,77}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1097},{48,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{48,79}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{48,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{48,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,727},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1147},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,77}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1289},{56,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{14,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{14,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1022},{50,71}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{50,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1216},{38,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{38,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1330},{46,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{46,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1122},{46,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{46,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1330},{44,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{44,73}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1074},{46,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{46,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1330},{44,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{44,73}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,641},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1289},{50,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{50,51}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{34,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{34,71}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,204},{60,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{60,65}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1289},{50,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{50,63}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1171},{52,63}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{52,63}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1198},{44,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{44,73}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1015},{56,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,77}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1139},{40,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{40,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1341},{56,73}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,73}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,497},{56,79}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,79}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,42},{174,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,61}}</string>
                <key>sourceSize</key>
                <string>{174,61}</string>
            </dict>
            <key>battle_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1273},{56,55}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{56,55}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1341},{50,59}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{50,59}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{48,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{48,55}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,73},{60,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{60,59}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{46,77}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{46,77}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,966},{54,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{54,67}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1105},{48,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{48,67}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1171},{52,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{52,63}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,135},{60,67}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{60,67}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,519},{52,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{52,69}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1171},{66,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>battle_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1094},{56,75}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,75}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1171},{50,65}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{50,65}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{58,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{58,69}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1170},{21,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,52}}</string>
                <key>sourceSize</key>
                <string>{21,52}</string>
            </dict>
            <key>battle_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,555},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{269,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,78}}</string>
                <key>sourceSize</key>
                <string>{269,78}</string>
            </dict>
            <key>battle_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{269,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,78}}</string>
                <key>sourceSize</key>
                <string>{269,78}</string>
            </dict>
            <key>battle_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{269,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,78}}</string>
                <key>sourceSize</key>
                <string>{269,78}</string>
            </dict>
            <key>battle_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{269,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,78}}</string>
                <key>sourceSize</key>
                <string>{269,78}</string>
            </dict>
            <key>battle_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1330},{50,73}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{50,73}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>battle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1225},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>battle_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1097},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>battle_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,404},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>battle_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,362},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>battle_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>battle_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>battle_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,939},{126,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>battle_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,554},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>battle_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,893},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>battle_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{183,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,111}}</string>
                <key>sourceSize</key>
                <string>{183,111}</string>
            </dict>
            <key>battle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,745},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>battle_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,685},{149,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,125}}</string>
                <key>sourceSize</key>
                <string>{149,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj.png</string>
            <key>size</key>
            <string>{510,1405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b1df8050a6ac448a7b39cf011b15bce$</string>
            <key>textureFileName</key>
            <string>mj.png</string>
        </dict>
    </dict>
</plist>
